<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>StormBot</title>

    <link rel="icon" href="{{StormBot_Icon_URL}}">
    <link rel="stylesheet" href="/stylesheets/bootstrap-4.3.1.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-colorpicker.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap4-toggle-3-5-0-min.css">

  </head>
  <body style="background-color:#615e58;">
    <!-- style="background-color:#3d3c3a;" -->
      {{> nav }}
      {{#if DASH}}
        {{> guildnav }}
      {{/if}}

      {{{ body }}}

      <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/handlebars-4-0-6.js"></script>
    <script src="/javascripts/jquery-3-3-1-slim-min.js"></script>
    <script src="/javascripts/popper-1-14-7-min.js"></script>
    <script src="/javascripts/bootstrap-4-3-1-min.js"></script>
    <script src="/javascripts/bootstrap4-toggle-3-5-0.min.js"></script>
    <script src="/javascripts/bootstrap-colorpicker.js"></script>

    <script>
      $(function () {
          $('#simple-color-picker').colorpicker();
      });
    </script>
  </body>
</html>
