<div class="container-fluid">
    <div class="row">
		<div class="col-md-2">
        </div>
        <div class="col-md-10">
            <table class="">
                <tbody>
                    <tr>
                        <td>
                            <button class="btn btn-fix" onclick="window.location.href='#';" disabled>
                                <div class="card flex-row flex-wrap bg-dark text-white">
                                    <div class="card-header border-0">
                                        <img width="50" height="50" src="../images/dashboard/AUTOMSG.png" alt="" class="">
                                    </div>
                                    <div class="card-block px-2">
                                        <h4 class="card-title">Auto Message</h4>
                                        <p class="card-text">A message sent to a set of channels every hour</p>
                                    </div>
                                    <div class="w-50"></div>
                                </div>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-fix" onclick="window.location.href='/{{id}}/MemberRecords';">
                                <div class="card flex-row flex-wrap bg-dark text-white">
                                    <div class="card-header border-0">
                                        <img width="50" height="50" src="../images/dashboard/SEARCH.png" alt="" class="">
                                    </div>
                                    <div class="card-block px-2">
                                        <h4 class="card-title">Member Records</h4>
                                        <p class="card-text">An archive of MSG and VOIP totals</p>
                                    </div>
                                    <div class="w-50"></div>
                                </div>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-fix" onclick="window.location.href='#';" disabled>
                                <div class="card flex-row flex-wrap bg-dark text-white">
                                    <div class="card-header border-0">
                                        <img width="50" height="50" src="../images/dashboard/join.png" alt="" class="">
                                    </div>
                                    <div class="card-block px-2">
                                        <h4 class="card-title">Join</h4>
                                        <p class="card-text">Send a join message</p>
                                    </div>
                                    <div class="w-50"></div>
                                </div>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-fix" onclick="window.location.href='#';" disabled>
                                <div class="card flex-row flex-wrap bg-dark text-white">
                                    <div class="card-header border-0">
                                        <img width="50" height="50" src="../images/blank.png" alt="" class="">
                                    </div>
                                    <div class="card-block px-2">
                                        <h4 class="card-title">Moderator</h4>
                                        <p class="card-text">Channel Moderator</p>
                                    </div>
                                    <div class="w-50"></div>
                                </div>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>