<br><br><br>

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <form class="col-12 text-center">
      <div style="font-size: 500%;"><<font style="color:red; ">/</font>{{ ERROR.status }}></div>
      <div style="font-size: 150%;"><font style="color:red; ">"</font> {{ ERROR.message }} <font style="color:red; ">"</font></div>
    </form>   
  </div>
</div>
